@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pink: rgb(201, 201, 201);
  --neon: color(display-p3 0.856 1 0.205)
  --background-color: #eee;
  --foreground-color: #111;
}
body {
  background-color: var(--background-color);
  color: var(--foreground-color);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --foreground-color: #eee;
  --neon: color(display-p3 0.856 1 0.205)

    
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

button {
  font:  inherit;
}
form {
  display: flex;
  flex-direction: column;
  font: inherit;
}
form input, form  button {
  font: inherit;
  flex:  0 0 auto;
  width: 320px;
  background: transparent;
  border: 2px solid var(--foreground-color);
  line-height: 1.8;
  margin-bottom: 16px;
  color: inherit;
  
}
form input[type='text'], form input[type='email'] {
  font-size: inherit;
  border-width: 0;
  border-bottom-width: 2px;

}
form input[type='checkbox'] {
    accent-color: var(--pink);
}
form input[type='file'] {
  all: unset;
}
form button{
  border-radius: 7px;
  background: transparent;
  color: var(--foreground-color);
  font-weight: 500;
}
fieldset {
  all: unset;
  font: inherit;
}

form fieldset {
  display: flex;
  flex-direction: column;
  font: inherit
}

select {
  /* appearance: none; */
  border: 1px solid var(--background-color); 
  font: inherit;
  width: 320px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
/* a[href]:visited {
  color: inherit;
} */
.p3-pink-color {
  background-color: var(--pink);
}
.p3-neon-color {
  color: var(--neon);
}
.border-0-class {
  border: 0;
}