# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.db
.env

not--forms-firebase-adminsdk-8rg04-49aaea9062.json